.home-container{
    margin-top:12px;
}
.home-container ul{
    padding:0;
}

.post-serial{
    background: #f5f5f5;
    position: absolute;
    padding: 9px 17px;
    border-radius: 10px;
    color: #222;
    right: 0;
    top: 0;
    width: 40px;
    height: 40px;
}

ul.post-list{
}

ul.post-list li{
    border: 1px solid #e8e8e8;
    background: #fff;
    margin-bottom: 6px;
    min-height: 150px;
    border-right: 3px solid orange;
}

ul.post-list div.post-wrapper{
    padding: 20px 54px;
    position: relative;
}
